<ion-header>
  <ion-toolbar color="mycolor">
    <ion-grid><ion-row><ion-col class="ion-text-start">
      <ion-button color="mycolor" (click)="volverInicio()">Atrás</ion-button>
    </ion-col></ion-row> </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-img src="assets/icon/07.png"></ion-img>
  <div>
    <ion-list>
      <ion-item *ngFor="let item of usuario">
        <ion-avatar slot="start">
          <ion-img [src]="item.image"></ion-img>
        </ion-avatar>
        <ion-label>
          {{ item.firstName }} {{ item.lastName }}
          <br>
          <ion-radio-group [(ngModel)]="item.presente" (ionChange)="marcarAsistencia(item)">
            <ion-item>
              <ion-label>Presente</ion-label>
              <ion-radio slot="start" value="Presente"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Ausente</ion-label>
              <ion-radio slot="start" value="Ausente"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-label>
      </ion-item>
    </ion-list>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar color="mycolor">
    <ion-title> &copy; 2023 Derechos reservados por <b>RegistrAPP</b></ion-title>
  </ion-toolbar>
</ion-footer>

