<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Lista de estudiantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="volverInicio()">Atras</ion-button> 
  <div>
    <ion-list>
      <ion-item *ngFor="let item of usuario">
        <ion-avatar slot="start">
          <ion-img [src]="item.image"></ion-img>
        </ion-avatar>
        <ion-label>
          {{ item.firstName }} {{ item.lastName }}
          <br>
          <ion-radio-group [(ngModel)]="item.presente" (ionChange)="marcarAsistencia(item)">
            <ion-item>
              <ion-label>Presente</ion-label>
              <ion-radio slot="start" value="Presente"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Ausente</ion-label>
              <ion-radio slot="start" value="Ausente"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-label>
      </ion-item>
    </ion-list>

</div>
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
</ion-content>
