<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="assets/icon/05.png"></ion-img>
    <ion-card-content>
      <form [formGroup]="formularioRecuperar" (ngSubmit)="restablecerContrasena()">

        <ion-input formControlName="nombre" 
                     label-placement="stacked" 
                     fill="clear" placeholder="" 
                     placeholder="Ingrese su nombre aquí" 
                     label="Ingrese nombre"></ion-input>

        <ion-input formControlName="nuevaContrasena" 
                   label="Ingrese contraseña nueva" 
                   label-placement="stacked" fill="clear" 
                   placeholder="Nueva contraseña" 
                   type="password"></ion-input>  
        <ion-input formControlName="repNewContrasena" 
                   label="Repita contraseña nueva" 
                   label-placement="stacked" fill="clear" 
                   placeholder="Repita nueva contraseña" 
                   type="password"></ion-input>  
        <br />
        <ion-button color="mycolor" type="submit" 
                    [disabled]="!formularioRecuperar.valid">Restablecer contraseña
        </ion-button> 
        <ion-button color="mycolor" (click)="volveralogin()">Volver</ion-button> 
      </form>
    </ion-card-content>
</ion-content>
<ion-footer>
  <ion-toolbar color="mycolor">
    <ion-title> &copy; 2023 Derechos reservados por <b>RegistrAPP</b></ion-title>
  </ion-toolbar>
</ion-footer>

  